@font-face {
  font-display: swap; 
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/livvic-v14-latin-600.woff2') format('woff2'); 
}

/* livvic-700 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/livvic-v14-latin-700.woff2') format('woff2'); 
}