* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  font-family: 'Livvic', Arial, sans-serif;
}

img {
  display: block;
  height: auto;
}

.site-main {
  flex-grow: 1;
}