@mixin und-style-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

@mixin hover-link {
  color: var(--main-results-color-wt);
  background-color: var(--main-text-bg-color);
}

@mixin active-link {
  color: var(--main-initiation-color);
  background-color: transparent;
  border: 2px solid var(--main-initiation-color);
  opacity: 0.6;
}

@mixin footer-item-style {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: var(--main-color);
  opacity: 0.6;
}