:root {
  --main-color: #fff;
  --main-results-color-wt: #fff;
  --main-results-color: #79c8c7;
  --main-text-bg-color:  #012f34;
  --main-initiation-bg-color: #f67e7e;
  --main-initiation-color: #012f34;
}