/*contact style start*/
.intiro {
  background-color: #014e56;
  color: #fff;
}

.intiro__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 88px;
}

.intiro__heading {
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
}

.intiro__text {
  display: block;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #f67e7e;
}

.intiro__list {
  @include und-style-list;
  margin-bottom: 40px;
}

.intiro__item {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.intiro__item:last-child {
  margin-bottom: 0;
}

.intiro__item::before {
  display: block;
  width: 72px;
  height: 72px;
  margin-right: 23px;
  z-index: 1;
  background-image: url("../../images/build-1.svg");
  background-size: 72px;
  background-position: center;
  background-repeat: no-repeat;
  content: "";
}


.intiro__item-paragrph {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
}

.intiro__form {
  max-width: 540px;
  width: 100%;
}


.intiro__input {
  display: block;
  width: 100%;
  margin-bottom: 8px;
  padding: 16px;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.115385px;
  mix-blend-mode: normal;
  color: #fff;
  opacity: 0.6;
  background-color: transparent;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #fff;
  border-left: 0;

  &:focus {
    outline: none;
  }

  &::placeholder {
    font-size: 15px;
  }
}

.intiro__textarea {
  display: block;
  width: 100%;
  margin-bottom: 24px;
  padding: 16px;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.115385px;
  mix-blend-mode: normal;
  color: #fff;
  opacity: 0.6;
  background-color: transparent;
  border-top: 0;
  border-right: 0;
  resize: none;
  border-bottom: 1px solid #fff;
  border-left: 0;

  &:focus {
    outline: none;
  }

  &::placeholder {
    font-size: 15px;
  }
}

.intiro__button {
  padding: 9px 32px;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 24px;

  &:hover {
    color: #004047;
    background-color: #fff;
  }

  &:active {
    color: #012f34;
    border: 2px solid #012f34;
  }
}

@media only screen and (min-width: 1033px) {
  .intiro__wrapper {
    justify-content: space-between;
  }

  .intiro__heading {
    text-align: left;
  }

  .intiro__text {
    text-align: left;
  }
}

/*contact style finish*/