.results {
  position: relative;
  color: var(--main-results-color-wt);
  background-color: #004047;

  &::before {
    position: absolute;
    top: 0;
    left: calc(50% - 160px);
    width: 147px;
    height: 100px;
    background-image: url("../../images/results-before.svg");
    content: "";
  }

  &::after {
    position: absolute;
    left: calc(50% + 13px);
    bottom: 0;
    width: 147px;
    height: 100px;
    background-image: url("../../images/results-after.svg");
    content: "";
  }
}

.results__wrapper {
  padding-top: 140px;
  padding-bottom: 164px;
}

.results__heading-box {
display: flex;
margin-right: auto;
margin-left: auto;
text-align: center;
}

.results__heading {
  margin-top: 0;
  margin-bottom: 48px;
  font-weight: 700;
  font-size: 25px;
  line-height: 32px;
  

  &__text {
    color: var(--main-results-color);
  }

}

.results__list {
  @include und-style-list;
}

.results__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: auto;
  margin-bottom: 45px;
margin-left: auto;



  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    position: relative;
    bottom: -20px;
    width: 67px;
    height: 56px;
    background-image: url("../../images/quote.svg");
    content: "";
  }

  &__paragrph {
    margin-top: 0;
    margin-bottom: 16px;
    text-align: center;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    z-index: 2;
  }

  &-denomination {
    margin-bottom: 2px;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: var(--main-results-color);
  }

  &-field {
    display: inline-block;
    margin-bottom: 16px;
    font-size: 13px;
    line-height: 18px;
    font-style: italic;
  }
}

@media only screen and (min-width: 335px) {
  .results::before {
    left: calc(50% - 167px);
  }

  .results::after {
    left: calc(50% + 20px);
  }
}

@media only screen and (min-width: 350px) {
  .results::before {
    left: calc(50% - 175px);
  }

  .results::after {
    left: calc(50% + 27px);
  }
}


@media only screen and (min-width: 370px) {

  .results::before {
    left: calc(50% - 184px);
  }

  .results::after {
    left: calc(50% + 38px);
  }

  .results__item {
    margin-bottom: 48px;

    &__paragrph {
      font-size: 15px;
    }
  }
}

@media only screen and (min-width: 385px) {

  .results::before {
    left: calc(50% - 192px);
  }

  .results::after {
    left: calc(50% + 45px);
  }
}

@media only screen and (min-width: 405px) {
  .results::before {
    left: calc(50% - 203px);
  }

  .results::after {
    left: calc(50% + 56px);
  }
}

@media only screen and (min-width: 430px) {

  .results::before {
    left: calc(50% - 215px);
  }

  .results::after {
    left: calc(50% + 68px);
  }
}

@media only screen and (min-width: 455px) {

  .results::before {
    left: calc(50% - 227px);
  }

  .results::after {
    left: calc(50% + 80px);
  }
}

@media only screen and (min-width: 473px) {

  .results::before {
    left: calc(50% - 236px);
  }

  .results::after {
    left: calc(50% + 90px);
  }
}

@media only screen and (min-width: 500px) {

  .results::before {
    left: calc(50% - 250px);
  }

  .results::after {
    left: calc(50% + 104px);
  }
}

@media only screen and (min-width: 520px) {

  .results::before {
    left: calc(50% - 260px);
  }

  .results::after {
    left: calc(50% + 113px);
  }
}

@media only screen and (min-width: 540px) {

  .results::before {
    left: calc(50% - 270px);
  }

  .results::after {
    left: calc(50% + 123px);
  }
}

@media only screen and (min-width: 570px) {

  .results::before {
    left: calc(50% - 285px);
  }

  .results::after {
    left: calc(50% + 138px);
  }

  .results__heading {
    font-size: 30px;
  }

  .results__item {
    margin-bottom: 48px;

    &__paragrph {
      font-size: 15px;
    }

    &-denomination {
      margin-bottom: 3px;
      font-size: 17px;
    }

  }
}

@media only screen and (min-width: 600px) {
  .results::before {
    left: calc(50% - 300px);
  }

  .results::after {
    left: calc(50% + 153px);
  }
}

@media only screen and (min-width: 630px) {
  .results::before {
    left: calc(50% - 315px);
  }

  .results::after {
    left: calc(50% + 168px);
  }

}

@media only screen and (min-width: 653px) {
  .results::before {
    left: calc(50% - 325px);
  }

  .results::after {
    left: calc(50% + 180px);
  }

}

@media only screen and (min-width: 675px) {
  .results::before {
    left: calc(50% - 337px);
  }

  .results::after {
    left: calc(50% + 190px);
  }

}

@media only screen and (min-width: 698px) {
  .results::before {
    left: calc(50% - 349px);
  }

  .results::after {
    left: calc(50% + 202px);
  }

}

@media only screen and (min-width: 720px) {
  .results::before {
    left: calc(50% - 360px);
  }

  .results::after {
    left: calc(50% + 213px);
  }

}

@media only screen and (min-width: 720px) {


  .results::before {
    left: calc(50% - 360px);
  }

  .results::after {
    left: calc(50% + 213px);
  }

  .results__heading {
    font-size: 32px;
  }
}

@media only screen and (min-width: 750px) {
  .results::before {
    left: calc(50% - 375px);
  }

  .results::after {
    left: calc(50% + 228px);
  }

}

@media only screen and (min-width: 800px) {

  .results::before {
    left: calc(50% - 400px);
  }

  .results::after {
    left: calc(50% + 253px);
  }
}

@media only screen and (min-width: 840px) {
  .results::before {
    left: calc(50% - 420px);
  }

  .results::after {
    left: calc(50% + 274px);
  }
}

@media only screen and (min-width: 880px) {
  .results::before {
    left: calc(50% - 439px);
  }

  .results::after {
    left: calc(50% + 293px);
  }
}

@media only screen and (min-width: 920px) {
  .results::before {
    left: calc(50% - 460px);
  }

  .results::after {
    left: calc(50% + 313px);
  }

  .results__heading-box {
  max-width: 850px;
  }

  .results__heading {
  font-size: 35px;
  line-height: 35px;
  }
}

@media only screen and (min-width: 950px) {
  .results::before {
    left: calc(50% - 475px);
  }

  .results::after {
    left: calc(50% + 328px);
  }

  .results__heading-box {
  max-width: 900px;
  }

  .results__heading {
  font-size: 40px;
  line-height: 40px;
  }

  .results__item {
  max-width: 900px;
  }
}

@media only screen and (min-width: 980px) {
  .results::before {
    left: calc(50% - 475px);
  }

  .results::after {
    left: calc(50% + 328px);
  }

  .results__heading-box {
  max-width: 920px;
  }

  .results__heading {
  font-size: 42px;
  line-height: 42px;
  }

  .results__item {
    max-width: 920px;
    }
}

@media only screen and (min-width: 1000px) {
  .results::before {
    left: calc(50% - 500px);
  }

  .results::after {
    left: calc(50% + 353px);
  }

  .results__heading-box {
  max-width: 932px;
  }

  .results__heading {
    margin-bottom: 92px;
  font-size: 45px;
  line-height: 45px;
  }

  .results__list {
  display: flex;
  justify-content: space-between;
  }

  .results__item {
    width: 300px;
    margin: 0;

    &__paragrph {
    margin-bottom: 24px;
    }

    &-field {
    margin-bottom: 32px;
    }
    }
}

@media only screen and (min-width: 1040px) {
  .results::before {
    left: calc(50% - 520px);
  }

  .results::after {
    left: calc(50% + 373px);
  }

  .results__heading {
  font-size: 48px;
  line-height: 48px;
  }

  .results__item {
    width: 320px;
    }
}

@media only screen and (min-width: 1080px) {
  .results::before {
    left: calc(50% - 540px);
  }

  .results::after {
    left: calc(50% + 393px);
  }
 
}

@media only screen and (min-width: 1120px) {
  .results::before {
    left: calc(50% - 560px);
  }

  .results::after {
    left: calc(50% + 413px);
  }

  .results__item {
    width: 350px;
    }
}

@media only screen and (min-width: 1160px) {
  .results::before {
    left: calc(50% - 580px);
  }

  .results::after {
    left: calc(50% + 433px);
  }
}

@media only screen and (min-width: 1200px) {
  .results::before {
    left: calc(50% - 600px);
  }

  .results::after {
    left: calc(50% + 453px);
  }
}

@media only screen and (min-width: 1240px) {
  .results::before {
    left: calc(50% - 620px);
  }

  .results::after {
    left: calc(50% + 473px);
  }
}

@media only screen and (min-width: 1280px) {
  .results::before {
    left: calc(50% - 640px);
  }

  .results::after {
    left: calc(50% + 493px);
  }
}

@media only screen and (min-width: 1320px) {
  .results::before {
    left: calc(50% - 660px);
  }

  .results::after {
    left: calc(50% + 513px);
  }
}

@media only screen and (min-width: 1360px) {
  .results::before {
    left: calc(50% - 680px);
  }

  .results::after {
    left: calc(50% + 533px);
  }
}

@media only screen and (min-width: 1400px) {
  .results::before {
    left: calc(50% - 700px);
  }

  .results::after {
    left: calc(50% + 553px);
  }
}

@media only screen and (min-width: 1440px) {
  .results::before {
    left: calc(50% - 720px);
  }

  .results::after {
    left: calc(50% + 573px);
  }
}

@media only screen and (min-width: 1480px) {
  .results::before {
    left: calc(50% - 740px);
  }

  .results::after {
    left: calc(50% + 593px);
  }
}

@media only screen and (min-width: 1520px) {
  .results::before {
    left: calc(50% - 755px);
  }

  .results::after {
    left: calc(50% + 605px);
  }
}
